<%- include('./partials/header.ejs')%>
<body class="hide_overflow">
    <header class="landing-header">
        <div class="name">
            <h2>Konnekt Smartlife</h2>
        </div>
    </header>
    <div class="landing_page">
        <div class="circles">
            <img src="/img/net2.png" alt="">
        </div>
        <div class="hero">
            <h1>Connecting Communities</h1>
            <h3>Empowering Network</h3>
            <p>Efficient network distributor enabling <br>seameless connectivity, optimizing<br>resource and fostering growth<br>in diverse industries</p>
            <div class="hand_image">
                <img src="/img/hand.png" alt="">
            </div>
            <div class="getstartedBtn">
                <a href="/login">Get Started</a>
            </div>

        </div>
    </div>


   <%- include('./partials/footer.ejs')  %>
</body>
</html>